.popup-screen {
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 30px;
    right: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
    .popup-content {
        position: relative;
        .popup-content-header {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 12px 12px 0 12px;
            padding: 12px;
            background-color: #eaeaea;
            border-radius: 6px;
            .popup-content-title {
                margin: 0;
                font-size: 14px;
                font-weight: 500;
            }
            .popup-close-button {
                position: absolute;
                right: -14px;
                top: -28px;
                margin: 0;
                width: 28px;
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                outline: none;
                border: none;
                background-color: #dfdfdf;
                transition: background-color 300ms ease;
                border-radius: 50%;
                .popup-close-icon {
                    font-size: 20px;
                    color: black;
                }
                &:hover {
                    background-color: #d0d0d0;
                }
            }
        }
        .popup-content-body {
            padding: 10px 20px;
        }
    }
}

// FILTER POPUP CONTENTS START
.popup-contents-filters {
    .chip-buttons-wrapper {
        display: flex;
        padding-bottom: 12px;
    }
    .filters-wrapper {
        padding: 10px 0;
        .filter {
            padding-bottom: 16px;
            .slider-filter-datalist {
                display: flex;
                justify-content: space-between;
                .slider-option {
                    padding: 0;
                    font-size: 12px;
                }
            }
            .form-range::-moz-range-thumb {
                background-color: #0c8de9;
            }
        }
    }
}
// FILTER POPUP CONTENTS END

// FILTER POPUP CONTENTS START
.popup-settings-wrapper {
    .chip-button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 12px;
    }
    .setting-block {
        padding-bottom: 12px;
        .block-title {
            font-size: 13px;
            margin-right: 8px;
        }
    }
    .language-select-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .language-select {
            max-width: 100px;
        }
    }
    .user-assumptions {
        .chips-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .app-chip-with-close-btn {
                margin: 4px 4px 4px 0;
                font-size: 12px;
            }
        }
    }
}
// SETTINGS POPUP CONTENTS END

// INFO POPUP CONTENTS START
.popup-infobox {
    .info-text-title {
        margin: 16px 0 8px 0;
        font-size: 14px;
        text-align: center;
        font-weight: 500;
    }
    .info-text {
        font-size: 13px;
        text-align: center;
        margin-bottom: 6px;
        span {
            font-weight: 600;
        }
    }
}
// INFO POPUP CONTENTS END
