.settings-menu {
    height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    transition: height 300ms ease;

    .settings-header {
        padding: 16px;
        display: flex;
        align-items: center;
        background-color: #001742;
        .settings-close-button {
            padding: 6px;
            margin: 0;
            border-radius: 50%;
            width: 42px;
            height: 42px;
            margin-right: 12px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            .settings-close-icon {
                color: white;
                font-size: 24px;
            }

            &:hover {
                background-color: #072f7a;
            }
        }
        .settings-heading {
            font-size: 16px;
            font-weight: 600;
            color: white;
        }
    }

    .settings-container {
        padding: 16px;
        .setting-type-block {
            border-radius: 8px;
            border: 2px solid #cccccc;
            padding: 16px;
            margin-bottom: 8px;
            .setting-type-header {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                .setting-type-icon {
                    font-size: 18px;
                    color: #0c8de9;
                    margin-right: 8px;
                }
                .setting-type-heading {
                    margin: 0;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
            .settings-list {
                font-size: 14px;
                .settings-list-item {
                    cursor: pointer;
                    margin-bottom: 8px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}

.settings-open {
    top: 0;
    height: 100%;
    overflow: auto;
}
