@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "_chatcontainer.scss";
@import "_settings.scss";
@import "_popup.scss";

// PROVIDE A FONT SELECTOR FOR THIS SETTING
// MUST BE SET GLOBALLY IN ```app.tsx```
* {
    font-family: "Inter";
}

.development-div {
    box-sizing: content-box;
}

// Global Styles
.app-icon-button {
    position: relative;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    outline: none;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .app-icon-button-anim {
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        transform: translate(-50%, -50%);
        background-color: transparent;
        transition: width 200ms ease, height 200ms ease;
    }
    .app-icon-button-icon {
        font-size: 20px;
        color: #ffffff;
    }
    &:hover {
        .app-icon-button-anim {
            background-color: #eaeaea33;
            width: 100%;
            height: 100%;
        }
    }
}
